In [3]:
a = {}
type(a)

dict

In [4]:
a = {2:"Apple",3:"ball"}
print(a)

{2: 'Apple', 3: 'ball'}

In [5]:
b = {"a":"Apple","b":"Ball"}

In [6]:
print(a[2])
print(b["a"])

Apple
Apple

In [7]:
b = {"a":"Apple","b":"Ball"}
b["a"]="Ant"
b

{'a': 'Ant', 'b': 'Ball'}

In [8]:
del b["a"]
b

{'b': 'Ball'}

In [10]:
b = {"a":"Apple","b":"Ball"}
c = b.pop("a")
print(b)
print(c)

{'b': 'Ball'}
Apple

In [12]:
b = {"a":"Apple","b":"Ball"}
for i in b.values():
    print(i)

Apple
Ball

In [13]:
b = {"a":"Apple","b":"Ball"}
for i in b:
    print(i)

a
b

In [20]:
b = {"a":"Apple","b":"Ball"}
for i in b.items():
    print(i)

('a', 'Apple')
('b', 'Ball')

In [22]:
a = {}
a["a"]="Apple"
a["b"]="Ball"
a

{'a': 'Apple', 'b': 'Ball'}

In [27]:
x = {'a': 'Apple', 'b': 'Ball'}
x["c"]="Cat"
x

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [25]:
n = {'a': 'Cat', 'b': 'Ball'}
print(len(n))

2

In [26]:
n = {'a': 'Cat', 'b': 'Ball'}
a = {'l':"Lion"}
n+a

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [28]:
name = {}
n = int(input("Enter no of students = "))
for i in range(1,n+1):
    name[i] = input("Enter name = ")
print(name)

Enter no of students = 2
Enter name = Ram
Enter name = Shyam
{1: 'Ram', 2: 'Shyam'}

In [30]:
n = {'a': 'Cat', 'b': 'Ball'}
a = {'l':"Lion"}
n["l"] = a["l"]
n

{'a': 'Cat', 'b': 'Ball', 'l': 'Lion'}

In [31]:
n = {(1,2): 'Cat', 'b': 'Ball'}
n

{(1, 2): 'Cat', 'b': 'Ball'}

In [32]:
n = {[1,2]: 'Cat', 'b': 'Ball'}
n

TypeError: unhashable type: 'list'

In [33]:
a = {"name":"Ram","Age":34,"Address":"Patan"}
a["name"]

'Ram'

In [34]:
b = {"a":"Apple","b":"Ball"}
for x,y in b.items():
    print(x,y)

a Apple
b Ball

In [47]:
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age= "))
    add = input("Enter Add = ")
    
    Name = f"{i}Name"
    print(Name)
    Age = f"{i}Age"
    print(Age)
    Add =f"{i}Add"
    print(Add)
    
    info[Name] = name
    info[Age] = age
    info[Add] = add
print(info)

Enter n = 2
Enter name = ram
Enter age= 34
Enter Add = Bara
1Name
1Age
1Add
Enter name = Shyam
Enter age= 67
Enter Add = Parsa
2Name
2Age
2Add
{'1Name': 'ram', '1Age': 34, '1Add': 'Bara', '2Name': 'Shyam', '2Age': 67, '2Add': 'Parsa'}

In [46]:
roll = int(input("Enter rooll = "))
print(f"My roll is {roll}")

Enter rooll = 2
My roll is 2

In [48]:
i = int(input("Enter roll = "))
info = {'1Name': 'Ram', '1Age': 34, '1Add': 'Kathmandu', '2Name': 'Shyam', '2Age': 34, '2Add': 'Patan'}

# output = [info[f"{n}Name"],info[f"{n}Age"],info[f"{n}Add"]]
output = [  info[Name] , info[Age] ,  info[Add] ]
print(output)

Enter roll = 1
['Shyam', 34, 'Patan']

In [42]:
n = int(input("Enter roll = "))
info = {'1Name': 'Ram', '1Age': 34, '1Add': 'Kathmandu', '2Name': 'Shyam', '2Age': 34, '2Add': 'Patan'}

info[f"{n}Name"] = input("Enter name = ")
info[f"{n}Age"] = int(input("Enter age = "))
info[f"{n}Add"] = input("Enter add = ")

Enter roll = 3
Enter name = Hari
Enter age = 45
Enter add = Bara

In [43]:
info

{'1Name': 'Ram',
 '1Age': 34,
 '1Add': 'Kathmandu',
 '2Name': 'Shyam',
 '2Age': 34,
 '2Add': 'Patan',
 '3Name': 'Hari',
 '3Age': 45,
 '3Add': 'Bara'}

In [44]:
n = int(input("Enter roll = "))
info[f"{n}Add"] = input("Enter add = ")

Enter roll = 3
Enter add = Parsa

In [45]:
info

{'1Name': 'Ram',
 '1Age': 34,
 '1Add': 'Kathmandu',
 '2Name': 'Shyam',
 '2Age': 34,
 '2Add': 'Patan',
 '3Name': 'Hari',
 '3Age': 45,
 '3Add': 'Parsa'}

In [37]:
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age= "))
    add = input("Enter Add = ")
    info["Name"] = name
    info["Age"] = age
    info["Add"] = add
print(info)

Enter n = 2
Enter name = Shyam
Enter age= 45
Enter Add = Patan
Enter name = Ram
Enter age= 89
Enter Add = Kathmandu
{'Name': 'Ram', 'Age': 89, 'Add': 'Kathmandu'}